select, input {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

.select  {
    background: url(../../static/icons/arrow-down.svg) right 5px center / 12px 15px no-repeat #efefef;
    height: 40px;
    line-height: 40px;
}