.close {
    width: 32px;
    height: 32px;
    padding-left: 15px;
}

.close:hover {
    opacity: 0.3;
}

.close:before, .close:after {
    position: absolute;
    /* left: 15px; */
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
}

.close:before {
    transform: rotate(45deg);
}

.close:after {
    transform: rotate(-45deg);
}

.expand-menu.is-expanding {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
}

.expand-menu {
    transform: translateX(280px);
    opacity: 0;
    top: 0;
    right: 0;
    /* @apply hidden; */
    visibility: hidden;
    /* PLAY WITH THIS: https://easings.net/ */
    transition: all .3s cubic-bezier(.57,.21,.69, 1);
}

.special-wrap {
    width:4.6rem;
}

.special-color {
    border-color: rgba(255,255,255,0.3);
}

@media (min-width: 576px) {
    .special-wrap {
        width:auto;
    }
    .special-color {
        border-color: rgba(255,255,255,0.1);
    }
}

.facebookImage {
    height: 300px;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    background-color: #b8c2cc;
}

.facebookCard {
    border-radius: 1rem;
    width: 300px;
}

@media (min-width: 576px) and (max-width:992px){
    .facebookImage {
        height: 500px;
    }
	.facebookCard {
        width: 500px;
    }
}

.announcement-picture {
    width: 45vw;
}

@media (min-width: 768px) {
    .announcement {
        width: 55vw;
    }
}