.close {
    width: 32px;
    height: 32px;
    padding-left: 15px;
}

.close:hover {
    opacity: 0.3;
}

.close:before, .close:after {
    position: absolute;
    /* left: 15px; */
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
}

.close:before {
    transform: rotate(45deg);
}

.close:after {
    transform: rotate(-45deg);
}

.expand-menu.is-expanding {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
}

.expand-menu {
    transform: translateX(280px);
    opacity: 0;
    top: 0;
    right: 0;
    /* @apply hidden; */
    visibility: hidden;
    /* PLAY WITH THIS: https://easings.net/ */
    transition: all .3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}