@media screen and (min-width: 300px) {
    .special-third-width {
        width: 33.333333333333%;
    }
}

select, input {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

.select  {
    background: url(../../static/icons/arrow-down.svg) right 5px center / 12px 15px no-repeat #efefef;
    height: 40px;
    line-height: 40px;
}