@font-face {
    font-family: 'ChulaCharasNew';
    src: url('ChulaCharasNew-BoldItalic.woff2') format('woff2'),
        url('ChulaCharasNew-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'ChulaCharasNew';
    src: url('ChulaCharasNew-Bold.woff2') format('woff2'),
        url('ChulaCharasNew-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'ChulaCharasNew';
    src: url('ChulaCharasNew-Italic.woff2') format('woff2'),
        url('ChulaCharasNew-Italic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'ChulaCharasNew';
    src: url('ChulaCharasNew.woff2') format('woff2'),
        url('ChulaCharasNew.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CHULALONGKORN';
    src: url('CHULALONGKORN-Bold.woff2') format('woff2'),
        url('CHULALONGKORN-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'CHULALONGKORN';
    src: url('CHULALONGKORN-Regular.woff2') format('woff2'),
        url('CHULALONGKORN-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

