@import url('../../static/css/fonts.css');

@tailwind preflight;
@tailwind utilities;

* {
    outline: none !important;
}

body {
    font-size: 18px;
    @apply leading-normal;
    @apply antialiased;
}

.layout-wide {
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
    @apply px-8;
}

.layout-narrow {
    width: 100%;
    max-width: 720px;
    margin: 0 auto;
    @apply px-6;
}

@screen lg {
    .layout-wide, .layout-narrow {
        @apply px-3;
    }
}